<!DOCTYPE html>
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş Yap</title>
    <link rel="icon" href="~/favico.png" type="image/x-icon">
</head>
<body style="background-color: white">
    <div align="center" class="form-group">
        <br />
        <br />
        <img src="~/td.png" alt="Tunç Denizcilik"/>
        <br />
        <br />
        <form action="~/Login/Index/" method="post">
            <input type="text" class="form-check" placeholder="Kullanıcı Adı..." name="Nickname"><br>
            <input type="password" class="form-check" placeholder="Şifre..." name="Password"><br>
            <input type="submit" class="btn btn-success" style="background-color:brown" value="Giriş Yap" id="logBTN">
        </form>
        <br />
        <br />
        <h4 style="color:white">iletişim: akyzyagiz@gmail.com</h4>
    </div>
</body>
</html>