
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tunç Denizcilik Kontrol Paneline Hoşgeldiniz</h1>
<br />
<h3>Sorun olduğunda iletişim için = akyzyagiz@gmail.com</h3>